{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    {% if transactions %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
            <tr>
                <td>{{ "Buy" if row.shares > 0 else "Sell" }}</td>
                <td>{{ row.symbol }}</td>
                <td>{{ abs(row.shares) }}</td>
                <td>{{ row.price | usd }}</td>
                <td>{{ row.transacted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transaction history available.</p>
    {% endif %}
{% endblock %}
